@CHARSET "UTF-8";

h2.tit {position:relative;  margin:15px auto 20px; border-left:3px solid #fec300; height:24px; padding-left:15px; font-size:24px; line-height:1; color:#444; letter-spacing:-0.09em; clear:both}
h2.tit span {position:absolute; top:4px; padding-left:15px; font-size:14px; color:#898989;  font-weight:normal;letter-spacing:-0.07em; }
#theme_block{width: 1100px; height:auto; display: inline-block; margin-top: 20px; margin-bottom: 30px;}

#theme_block .cont02 {position: relative;width: 1100px; height:350px;margin: 25px auto 0;padding: 0;}
#theme_block .cont02 .u1 { display: initial; width: 840px; height: 331px;overflow: hidden;margin-left: 5px;}
#theme_block .cont02 ul li span.pic {display: block;width: 260px; height: 186px;overflow: hidden;}
#theme_block .cont02 .u1 li {position: relative;float: left;width: 280px; height:100%}
#theme_block .cont02 .u1 .left {margin:5px;width: 145px;height: 90%;}

#theme_block .cont02 ul .left.left01 {background: url(/images/product/02_leftbg.png) no-repeat;}
#theme_block .cont02 ul .left .headline {
	    display: inline-block;padding: 50px 20px 0 23px;font-size: 15px;color: #fff;
	    font-family: 'NanumBold';line-height: 26px;word-break: break-word;word-wrap: break-word;}

#theme_block .cont02 ul .right {width: 360px;height: 90%;margin-left: 20px;}

#theme_block .cont02 ul .right span {display: inline-block;width: 100%;font-weight: normal;letter-spacing: -1px;}
#theme_block .cont02 ul .right span.theme1 {margin: 40px 0 4px 0;font-size: 15px;color: #303030;font-weight: 600;}
#theme_block .cont02 ul .right span.tit1 {white-space: normal;width: 280px;height: 25px;overflow: hidden;
    margin: 0 0 20px 0;font: bold 15px Dotum;color: #000000;font-family: 'NanumBold';}
#theme_block .cont02 ul .right span.subtit1 {margin: 15px 0 5px 0;display:block;font-size: 12px;color: #2a2a2a;}
#theme_block .cont02 ul .right span.detail1 {width: 350px;height: 40px;
    overflow: hidden;margin: 0 0 30px 0;font-size: 13px;color: #777777;line-height: 20px;}

.price {display:block;position: relative !important;color: #f2312c !important;
   		 font: bold 17px Dotum;margin: 10px 0 0 0;letter-spacing: -1px !important;}
.price p {display: inline-block !important; padding: 0 0 0 2px !important;color: #cccccc;font-size:12px;}

.mgL20 {margin-left: 20px !important;}
#theme_block .cont2 ul .left.left02 {background: url(/images/product/02_rightbg.png) no-repeat;}

#theme_block .cont02 ul li div.info {display: inline-block;width: 260px;height: 115px;padding: 11px;
    border: 1px solid #e0e0e0;border-top: none;background: #fff;}
#theme_block .cont02 ul li div.info span {display: block;width: 100%;line-height: 1.4;}
#theme_block .cont02 ul li div.info span.tit {overflow: hidden;margin: 0 0 5px 0;font: bold 14px Dotum;color: #303030; font-family: 'NanumBold';}
#theme_block .cont02 ul li div.info span.stit {margin:5px auto;font-size: 12px; color: #c0c0c0;height: 18px;}
#theme_block .cont02 ul li div.info span.detail {height: 38px;overflow: hidden;margin-bottom: 1px;font-size: 12px;color: #6d6d6d;}
#theme_block .cont02 ul li div.info span.detail1 {height: 38px;overflow: hidden;margin-bottom: 1px;font-size: 14px;color: #3a3a3a;}
#theme_block .cont02 ul li.last {position: relative; margin-right: 0; width: 260px;height: 325px;overflow: hidden;}
#theme_block .cont02 ul li.last a img {width: 90%;height: auto;}

.hot_price{display:inline-block;width:230px;margin-top:-136px;height:430px;}
.hot_price h3{font:bold 15px dotum; margin-top:-50px;}
#theme_block .cont02 .hot_price ul{width:230px;height:100%;display: table-cell;}
.hot_price ul li{width:240px;height:188px; border: 1px solid #e0e0e0;}
.hot_price img{display:block; margin: 5px 0 0 5px;}

.cont03 {position: relative;width: 1100px;margin: 30px auto;}
#theme_block .cont03 {position: relative;width: 1100px;height: 420px;margin: 0 auto;overflow: hidden;}

#theme_block .cont03 ul {width: 100%; height: 100%;}

#theme_block .cont03 ul li {margin:10px auto;width:100%;position: relative;height: 100%;}
#theme_block .cont03 ul li div.small {position: relative;top: 0;left: 0;width: 260px;height: 210px;display: -webkit-inline-box;}  
#theme_block .cont03 ul li div.large {position: relative;top: 0;left: 0;width: 550px;height: 210px;display: -webkit-inline-box;} 
#theme_block .cont03 ul li div.large img {width: 115%;height: auto;}
#theme_block .cont03 ul li div.small img {width: 110%;height: 214px;}
#theme_block .cont03 ul li div div.notiWrap {position: absolute;top: 15px;left: 15px;width: 125px;height: auto;
    text-align: center;background: url(/images/product/sub1.png) repeat;}
#theme_block .cont03 ul li div.small div.info {position: absolute;top: 200px;left: 0;width: 100%;height: 100px;
    background: url(/images/detail/caption_bg.png) repeat;z-index: 1;display: none;}
#theme_block .cont03 ul li div div.notiWrap span.noti span {display: block;
    font-size: 14px;color: #333333;font-family: 'NanumBold';line-height: 1.2;}
#theme_block .cont03 ul li div div.notiWrap span.noti {display: inline-block;padding: 12px 5px; z-index: 1;}
#theme_block .cont03 ul li div div.notiWrap span.noti span.subPay {margin: 1px 0 0 0;font-size: 12px;color: #f2312c;}

#tab_type02 {width:1100px; height:50px; margin:5 auto;}
#tab_type02 ul{width:100%; height:100%; padding-top: 5px; float: left; float:right;}
#tab_type02 ul li {border-left:0px;border-right:0px;text-align:center;line-height:18px;width:10%;height:46px;
				float:left;border-top:1px solid #999;border-bottom:1px solid #999;font: bold 13px Dotum;padding:10px 10px;}

#tab_type02 ul li a:active{ background:#ffb902; color:#fff;}

#tab_type03 {width:820px; height:50px;display: inline-block;}
#tab_type03 ul.tabs {display: table;table-layout: fixed; height: 40px; width: 100%;cursor: pointer;}
#tab_type03 ul.tabs li {display: table-cell;height: 38px;text-align: center;border: 1px solid #e3e3e3;
		    border-right: 1px solid #f8f8f8;line-height: 38px;background-color: #e3e3e3;}

#tab_type03 ul.tabs li.on a{ background-color: #fff; color:#00aba3 !important;border: 1px solid #999;margin-left: 1px;border-bottom: 1px solid #fff;}

#tab_type04 {width:1100px; margin:2px auto;}

#tab_type04 ul.tabs {display: table;table-layout: fixed;height: 40px;width: 100%;cursor: pointer;}
#tab_type04 ul.tabs li {display: table-cell; height: 38px;text-align: center;border: 1px solid #e3e3e3;
		    border-right: 1px solid #f8f8f8;line-height: 38px;background-color: #e3e3e3;}

#tab_type04 ul li a:active{  background-color:#555; color:#fff; border:1px solid #999; border-bottom:1px solid #fff ;  font-family: 'NanumBold';margin-left:1px }

#theme_block .tab_container {width: 100%;clear: both;margin-top: 20px;height: 270px;}
#theme_block .tab_container .tour_best {float: left;width: auto;height: 270px;}
#theme_block .tab_container .tour_pass{float: right;width:720px;height:270px;}
span.btn_pass {display: inline-block; border: 1px solid #ddd;
    background-color: #fff;font-size: 13px;color: #00b6ad;height: 23px;
    line-height: 23px;padding: 0 5px;font-family: 'NanumBold';margin-right: 5px;}
#theme_block .tab_container .tour_pass li {width:340px; margin-left:20px; height:125px; float:left; margin-bottom:10px; }
#theme_block .tab_container .tour_pass li img.pic1 {width:175px; height:125px; float:left;}
#theme_block .tab_container .tour_pass li .box p{color:#666; font-size:14px;   font-family: 'NanumBold'; line-height:1.6; }
#theme_block .tab_container .tour_pass li .box {float: right;width: 145px;margin-left: 20px; margin-top: 20px;}
#theme_block .tab_container .tour_pass ul li{width:340px;height:125px;}

#theme_block .consult_num {margin:10px auto;float: left;}
#theme_block .consult_num img {display: block;margin-bottom: 20px;}

#theme_block .consult_info {margin:10px auto;float: right;}
.bt_info {clear: both;width: 1100px;height: 55px; margin: 10px auto 10px;border: 2px solid #eee;line-height: 55px;text-align: center;color: #666;
    font-size: 15px; background: url(/images/product/info.png) no-repeat 90px 3px;text-indent: 40px; letter-spacing: -0.05em;}
#departureConfirmed{width: 100%; height: auto; float: left; display: inline-block; margin-top: 15px;}
#departureConfirmed img{margin-right: 5px; width: 265px; height: 370px; }
#departureConfirmed img:last-child{margin-right: 0px;}


#theme_block2{width: 50%; height: auto; float: left; display: inline-block; margin-top: 15px; }
#theme_block2 h2{height: auto;}

#theme_block2 img{width: 100%; height: 370px; }
#theme_block2 img:last-child{margin-right: 0px;}

/*슬라이드 이미지*/
.slide_area { position:relative; display:inline-block; max-width:800px; margin: 0 auto;letter-spacing:-0.06em}
.slide_area ul li {max-width:235px;margin:0 15px;}
	
.slide_area1 { float:right;position:relative; display:inline-block; max-width:290px; letter-spacing:-0.06em }
.slide_area1 ul li {max-width:235px;margin:0 25px;}
	
.btn_move { position:relative; left:720px; bottom:10px; font-size:0; }
.btn_move a { float:left; width:20px; height:20px;  background:#ffb902; font-family:verdana; font-size:11px;  color:#999 }
