@CHARSET "UTF-8";

*{margin: 0; padding:0;}
ul,li,ol{list-style:none;}
*{transition: 0.5s; box-sizing: border-box;}
h2{font-weight: bolder;}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes banner {
	
	0%   {background-image: url('/images/tp-main/banner2.png');}
    25%  {background-image: url('/images/tp-main/mainbg2.jpg');}
    50%  {background-image: url('/images/tp-main/mainbg3.jpg');}
    75%  {background-image: url('/images/tp-main/banner1.PNG');}
    100% {background-image: url('/images/tp-main/banner2.png');}
    
}    

/* Standard syntax */
@keyframes banner {
	
    0%   {background-image: url('/images/tp-main/banner1.PNG');}
    25%  {background-image: url('/images/tp-main/banner2.png');}
    50%  {background-image: url('/images/tp-main/mainbg3.jpg');}
    75%  {background-image: url('/images/tp-main/mainbg1.jpg');}
    100% {background-image: url('/images/tp-main/banner1.PNG');}
    
}
        #tt{width: 1100px; height: auto; margin: 0 auto; }
        #wrap{width: 100%; height: auto; margin: 0 auto; }
        
        #header{width: 100%; height: auto; margin: 0 auto;}
        
        #topmenu{width:100%; height: 40px; background-color: #eaeaea;}
        #topmenu ul{float: right;}
        #topmenu ul li{display: inline-block; margin: 10px; font-size: 13px;}
        /*#topmenu ul li:last-child{margin-right: 250px;}*/
        
        #header_logo{width: 100%; height: 130px;}
        #header_logo h1{float: left; margin : 0 auto;}
        
        
         #searchBox{float: left; width: 400px; height: 40px; margin-top: 50px; margin-left: 200px;
        border: 3px solid #6b8eb4;}
       	 #searchBox select.searchCondition{
          margin-left: 2px;
          margin-top: 5px;
          width: 100px;
          height: 20px;
          border: 0px;
       	 }
       	 #searchBox input.search{
          border: 0px;
          width: 250px;
          height: 20px;
          
       	 }
      	 #searchBox input.searchBox{
      	 float: right;
         width: auto;
         height: 100%;
         }
        
        #navi{width: 100%; height: 60px; background-color: #6b8eb4; float: left;}
        #navi ul{width: 100%;float: left;}
        #navi ul li{
            float: left;
            width: 130px; 
            height: 58px;
            display: inline-block;
            text-align: center; 
            line-height: 40px;
            /* font-family: 'Swagger TTF'; */
            font-size: 16px;
            font-weight: 800;
            color: #000;
        }
        #navi ul li:hover{
        background-color: yellow;
        }
        
        
        
        #main{width: auto; height:auto;
        	min-width : 1920px;
        	min-height : 760px;
        	background-image: url('/images/tp-main/mainbg1.jpg');
        	background-size: 100% 100%;        	
	    	-webkit-animation-name: banner; Safari 4.0 - 8.0;
	  	 	-webkit-animation-duration: 10s; Safari 4.0 - 8.0;
	  		animation-name: banner;
	 		animation-duration: 7s; animation-iteration-count: infinite;}
	 		
  	      
        #rightmenu{ width: 180px; height: 300px; float: right; display: inline-block; }
        #rightmenu ul{ width: 180px; height: auto; position:fixed; background-color: floralwhite; border:1px solid black; text-align: center;}
        #rightmenu ul li{width: 180px; height: 40px; border-bottom: 1px solid gray;  }
        #rightmenu ul li:last-child{border-bottom: 0px; height: 30px;}
        
        #rightmenu ul li a{text-decoration: none;
         font-size: 16px;
         font-weight: bold; 
         color: gray; 
         float: left; 
         margin-left: 20px;
         margin: 10px;}

        #rightmenu ul li i{color: gray; margin-right: 10px;}
        a#moveTopBtn{text-decoration: none; color: black;}
        
        #quickmenu{width: 320px; height: 30px; float: left; }
        #quickmenu ul{width: 320px; height: 30px;
            background-image: url('/images/tp-main/find.png'); font-weight: 900;}
        #quickmenu ul li{color: #fff; font-size: 14px; float: left; }
        #quickmenu ul li:nth-child(1){width: 150px;}
        #quickmenu ul li:nth-child(2){width: 150px;}
        #quickmenu ul li:nth-child(3){width: 20px;}
        #quickmenu a{margin: 3px;
        				text-align:center;
        				text-decoration: none; 
        				font-weight: 800;
        				color: white;
        				}
        #searchBtn { 
        		 text-align :center;
				 font-size : 16px;
				 margin-left : 20px;
				 width: 270px; 
				 height: 50px;
				 background-color: #6b8eb4;
				 color : #fff;
				 border : 0px;
				 font-weight: bolder;
				 margin-bottom: 20px; }
      
   .find{
   		
        display: inline-block;
        
    }
    
   .find-content {
    background-image: url('/images/tp-main/find.png');
    background-repeat: repeat;
    top: 5px;
    position: relative;
    color: #fff;
    min-width: 320px;
    padding: 5px 5px;
    text-decoration: none;
/*     display: none;*/
    color: #fff;
    font-size: 14px;
    height: 400px; }
    .find-content-inside1{
    		margin-left: 20px; 
    		background-color: black; 
    		width: 270px; 
    		height: 30px; 
    		color: #fff; 
    		margin-bottom: 10px;
    		margin-top: 10px;
    		border : 0} 
    .find-content-inside2{
    		margin-left: 20px; 
    		background-color: black; 
    		width: 270px; 
    		height: 30px; 
    		color: #fff; 
    		margin-bottom: 25px;
    		margin-top: 10px;
    		border : 0} 
    		
    		
	.finder{cursor: pointer; text-align: center; line-height: 25px; color: pink;}
	.finder:hover{color: pink;}
        
	.find-content p{margin-left: 20px; width: 300px;}
        
 	.airportfind-content {
		    background-image: url('/images/tp-main/find.png');
		    right: 150px;
		    top : 5px; 
		    position: relative;
		    color: #fff;
		    display: none;
		    min-width: 320px;
		    height: 400px;
		    padding: 5px 5px;
		    text-decoration: none;
		    color: #fff;
		    font-size: 14px;
	}
	.airportfind-content p {margin-left: 20px; }
	.airportfind-content span:last-child {float:right;margin-right: 10px;}
	
	
	.airportfind-content-inside1{
    		margin-left: 20px; 
    		background-color: black; 
    		width:40%; 
    		height: 30px; 
    		color: #fff; 
    		margin-bottom: 10px;
    		margin-top: 10px;
    		border : 0;} 
    .airportfind-content-inside2{
    		margin-left: 15px;
    		text-align:center; 
    		background-color: black; 
    		width:40%; 
    		height: 30px; 
    		color: #fff; 
    		margin-bottom: 10px;
    		margin-top: 10px;
    		border : 0;}
    .airportfind-content-inside2.whenyoucome{float:left;}
	.dontknowWhen{
	display: none;
	}
	.airportfind-content-inside-people1{
			margin-left: 20px; 
    		background-color: black; 
    		width: 25%; 
    		height: 30px; 
    		color: #fff; 
    		margin-bottom: 10px;
    		margin-top: 10px;
    		border : 0;}
    	
    .airportfind-content-inside-people2{
			margin-left: 13px; 
    		background-color: black; 
    		width: 25%; 
    		height: 30px; 
    		color: #fff; 
    		margin-bottom: 10px;
    		margin-top: 10px;
    		border : 0;}	
    		
    		
 	.domesticfind-content {
		    background-image: url('/images/tp-main/find.png');
		    right: 150px;
		    top : 5px; 
		    position: relative;
		    color: #fff;
		    display: none;
		    min-width: 320px;
		    height: 400px;
		    padding: 5px 5px;
		    text-decoration: none;
		    color: #fff;
		    font-size: 14px;
	}
	.domesticfind-content p {margin-left: 20px; }
	
	.domesticfind-content-inside1{
    		margin-left: 20px; 
    		background-color: black; 
    		width:40%; 
    		height: 30px; 
    		color: #fff; 
    		margin-bottom: 10px;
    		margin-top: 10px;
    		border : 0;} 
    .domesticfind-content-inside2{
    		margin-left: 15px;
    		text-align:center; 
    		background-color: black; 
    		width:40%; 
    		height: 30px; 
    		color: #fff; 
    		margin-bottom: 10px;
    		margin-top: 10px;
    		border : 0;}
	
	.domesticfind-content-inside-people1{
			margin-left: 20px; 
    		background-color: black; 
    		width: 25%; 
    		height: 30px; 
    		color: #fff; 
    		margin-bottom: 10px;
    		margin-top: 10px;
    		border : 0;}
    	
    .domesticfind-content-inside-people2{
			margin-left: 13px; 
    		background-color: black; 
    		width: 25%; 
    		height: 30px; 
    		color: #fff; 
    		margin-bottom: 10px;
    		margin-top: 10px;
    		border : 0;}	
    	
			
	
	.airportfind_airlineBtn {text-align :center;
				 font-size : 16px;
				 margin-left : 20px;
				 width: 40%; 
				 height: 50px;
				 background-color: green;
				 color : #fff; 
				 border : 0px;
				 font-weight: bolder;
				 margin-bottom: 20px; }
				 
				 
	.airportfind_domesticBtn {text-align :center;
				 font-size : 16px;
				 margin-left : 10px;
				 width: 40%; 
				 height: 50px;
				 background-color: gray;
				 color : #fff;
				 border : 0px;
				 font-weight: bolder;
				 margin-bottom: 20px; }
				 
	.domestic_airlineBtn {text-align :center;
				 font-size : 16px;
				 margin-left : 20px;
				 width: 40%; 
				 height: 50px;
				 background-color: gray;
				 color : #fff;
				 border : 0px;
				 font-weight: bolder;
				 margin-bottom: 20px; }
				 
				 
	.domestic_domesticBtn{text-align :center;
							 font-size : 16px;
							 margin-left : 10px;
							 width: 40%; 
							 height: 50px;
							 background-color: green;
							 color : #fff; 
							 border : 0px;
							 font-weight: bolder;
							 margin-bottom: 20px; }
        
	.airportfinder{cursor: pointer; text-align: center;  line-height: 25px;}
    .airportfinder:hover{color: pink;}
        
#quickCloseBtn{cursor: pointer;}

#content{width: 1100px; height: auto; margin: 0 auto;}


#theme_block{width: 1100px; height:auto; display: inline-block; margin-top: 20px; margin-bottom: 20px;}
#theme_block h2{width:auto; height:auto; float: left; }

#tab_type01 ul{padding-top: 5px; float:right; } 

#tab_type01 ul li {
				float:left;
				display:inline;
				border-left:1px solid #999;
				font: bold 16px Dotum;
				padding:0 10px;
}
#tab_type01 ul li a:active{ background:#ffb902; color:#fff;}

.decoNone{ 
		   display:inline;
		   text-decoration: none;
		   color: gray;
		   display:block;
		    }
		    
#departureConfirmed{width: 100%; height: auto; float: left; display: inline-block; margin-top: 15px;}
#departureConfirmed img{margin-right: 5px; width: 265px; height: 370px; }
#departureConfirmed img:last-child{margin-right: 0px;}  

#theme_block2{width: 50%; height: auto; float: right; display: inline-block; margin-top: 15px;}
#theme_block2 h2{height: auto;}
#theme_block2 img{width: 100%; height: 370px; }
#theme_block2 img:last-child{margin-right: 0px;}
#theme_block2 #main_qna_icon{margin : 0 auto;}

#event_small_up{width: 50%; display:inline-block;float:left; margin-top: 25px}
#content .more_r{float:right; color: gray;}
#content .more_r a i{color: gray;  margin-right: 15px;}
.h_undergtag{margin-right:600px; float:left; height: auto;}
#theme_block .travle_img{width:250px; height:165px; float: left;}
#theme_block .travle_talk h3{width:410px; height:auto; margin-right:15px;}
#theme_block .travle_talk:nth-child(1){margin-right:15px;}

#notice_main_css{float:left;width:50%; height: auto; display: inline-block; margin-top: 20px; margin-bottom: 20px;}
#notice_main_css label{font-size: 30px; font-weight: bolder; margin-bottom: 20px;}
#notice_main_css ul li{line-height: 50px; list-style: square; margin-left: 30px;}

#main_qna_icon a{font-size: 10px; color: #666 !important; float: left;}
#main_qna_icon a img{width: 64px; height: 64px; float: left; margin-right: 25px; margin-bottom: 20px;}

#footer{width: 100%; height: 400px; margin: 0 auto; border: 3px solid gray; background-color: dimgrey}

#content .main_head_font{width: auto; height: auto; float: left;}

